<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JAVASCRIPT</a></li>
      <li><a href="#">RUBY</a></li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" alt="" class="logo">

  <nav class="masthead-links">
    <ul>
      <li><time>Tuesday, October 18, 2016</time></li>
      <li><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
      <li><i class="fas fa-video"></i><a href="#">Video</a></li>
      <li><button type="button" name="button">77°F</button></li>
      <li id="last_link"><button type="button" name="button">AA0 +100%</button></li>
    </ul>
  </nav>
</div>
